.black{
  background-color:black;
  position:fixed;
top:0;
left:0;
width:100%;
height:75px;
}
.htmlText{
  color:white;
  text-align:center;
}
.blackText{
  color:black;
  text-align:center;
}
