.black{
  background-color:black;
  position:fixed;
top:0;
left:0;
width:100%;
height:75px;
}
p, h1, h2{
  text-align:center;
}
.htmlText{
  color:white;
  margin-bottom: auto;
    color: white;
}
.blackText{
  color:black;
  text-align:center;
}
.homepage{
  margin-left: 30%;
}
